.element-wrapper {
  display: flex;
  width: 100%;
  padding: 20px 0 10px 0;
  border-top: 1px solid #eee;
  a {
    color: #0366d6;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  p {
    margin: 0;
    font-size: 14px;
  }
  .author-info {
    width: 120px;
    text-align: center;
    word-break: break-word;
    img {
      width: 100px;
      margin-bottom: 5px;
    }
  }
  .repo-info {
    width: calc(100% - 120px);
    position: relative;
    padding-bottom: 25px;
    @media screen and (max-width: 500px){
      padding-bottom: 40px;
    }
    > p {
      margin-bottom: 4px;
      color: #24292e;
      word-break: break-word;
    }

  }
  .bottom-info {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    left: 0;
    vertical-align: middle;
    color: #586069;
    @media screen and (max-width: 500px){
      flex-wrap: wrap;
    }
    a {
      font-size: 12px;
      text-decoration: none;
      color: #586069;
      svg{
        margin-right: 5px;
        vertical-align: text-bottom;
        path {
          fill: #586069;
        }
      }
      &:hover {
        color: #0366d6;
        svg {
          path {
            fill: #0366d6;
          }
        }
      }
    }
    .last-update {
      @media screen and (max-width: 500px){
        margin-top: 3px;
        width: 100%;
      }
    }
  }
}